<section class="section section-lg bg-get-start">
    <div class=""></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1 class="get-started-title text-white">Connect with Us to get our news</h1>
                <div class="section-title-border margin-t-20 bg-white"></div>
                <p class="section-subtitle font-secondary text-white text-center padding-t-30">We share with you our updates about our offers and discounts as well as our new products. Every trimester. </p>
                <div class="text-center subscribe-form margin-t-30">
                    <form>
                        <input type="text" placeholder="Email">
                        <button type="submit" class="btn btn-custom">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-pattern-effect">
        <img src="assets/images/bg-pattern-light.png" alt="">
    </div>
</section>