<section class="home-padding-t-150 position-relative" id="home" style="background-image: url('assets/images/img-2.jpg'); background-size: cover; background-position: center;">
  <div class="bg-overlay"></div>
  <div class="display-table">
      <div class="home-cell-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 offset-lg-2 text-white text-center">
                      <h1 class="home-title">We help startups launch their products</h1>
                      <p class="padding-t-15 home-desc">Etiam sed.Interdum consequat proin vestibulum class at a euismod mus luctus quam.Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
                      <a href="#" class="btn btn-custom margin-t-20">Get Started</a>
                      <img src="assets/images/home-dashboard.png" alt="" class="img-fluid center-block margin-t-20">  
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<app-services></app-services>
<app-about></app-about>
<app-description></app-description>
<app-pricing></app-pricing>
<app-team></app-team>
<app-work></app-work>
<app-testi></app-testi>
<app-getstart></app-getstart>
<app-blog></app-blog>
<app-contact></app-contact>
<app-social></app-social>