<section class="section pt-4" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-title text-center">Behind The People</h1>
                <div class="section-title-border margin-t-20"></div>
                <p class="section-subtitle text-muted text-center font-secondary padding-t-30">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
        </div>


        <div class="row margin-t-50">
            <div class="col-lg-2 col-sm-6">
                <div class="team-box text-center hover-effect">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-1.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Frank Johnson</h4>
                    <p class="text-uppercase team-designation">CEO</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="team-box text-center hover-effect">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-2.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Elaine Stclair</h4>
                    <p class="text-uppercase team-designation">Designer</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="team-box text-center hover-effect">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-3.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Wanda Arthur</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="team-box text-center hover-effect">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-4.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Joshua Stemple</h4>
                    <p class="text-uppercase team-designation">Manager</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="team-box text-center hover-effect">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-3.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Wanda Arthur</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="team-box text-center hover-effect">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-2.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Elaine Stclair</h4>
                    <p class="text-uppercase team-designation">Designer</p>
                </div>
            </div>

        </div>
    </div>
</section>