<section class="section section-lg height-100vh" id="home"
    style="background-image: url('assets/images/img-1.jpg'); background-size: cover; background-position: center;">
    <div class="bg-overlay"></div>
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-white text-center">
                        <h1 id="foo" clas="home-title text-rotate">A Clean & Minimal Landing Template</h1>
                
                        <p class="padding-t-15 home-desc">Etiam sed.Interdum consequat proin vestibulum class at a
                            euismod mus luctus quam.Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
                        <p class="play-shadow margin-t-30 margin-l-r-auto"><a (click)="openWindowCustomClass(content)"
                                class="play-btn video-play-icon"><i class="mdi mdi-play text-center"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <youtube-player [videoId]="id" (ready)="savePlayer($event)" height="450" width="780" (change)="onStateChange($event)"
                [playerVars]="playerVars">
            </youtube-player>
        </div>
    </ng-template>



<app-services></app-services>
<app-about></app-about>
<app-description></app-description>
<app-pricing></app-pricing>
<app-team></app-team>
<app-work></app-work>
<app-testi></app-testi>
<app-getstart></app-getstart>
<app-blog></app-blog>
<app-contact></app-contact>
<app-social></app-social>