<section class="section bg-home home-half" id="home">
  <div class="bg-overlay"></div>
  <div class="display-table">
      <div class="display-table-cell">
          <div class="container">
              <div class="row vertical-content">
                  <div class="col-lg-7 text-white text-left margin-t-30">
                      <h1 class="home-title">We help startups launch their products</h1>
                      <p class="padding-t-15 home-desc home-subtitle-width-100">Etiam sed.Interdum consequat proin vestibulum class at a euismod mus luctus quam.Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
                      <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light">Get Started <i class="mdi mdi-arrow-right"></i></a>
                  </div>
                  <div class="col-lg-4 offset-lg-1 margin-t-30">
                      <div class="home-registration-form bg-white">
                          <h4 class="form-heading text-center mt-2">Get 30 day FREE Trial</h4>
                          <form class="registration-form" id="registration-form">
                              <input type="text" id="exampleInputName1" class="form-control registration-input-box" placeholder="Name">
                              <input type="email" id="exampleInputEmail1" class="form-control registration-input-box" placeholder="Email">
                              <textarea class="form-control registration-textarea-box" rows="4" placeholder="Message"></textarea>
                              <button class="btn btn-custom home-btn-width waves-effect waves-light">Send Detail</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<app-services></app-services>
<app-about></app-about>
<app-description></app-description>
<app-pricing></app-pricing>
<app-team></app-team>
<app-work></app-work>
<app-testi></app-testi>
<app-getstart></app-getstart>
<app-blog></app-blog>
<app-contact></app-contact>
<app-social></app-social>